.footer {
  background-color: $bg-black;
  color: $white;
}
.footer-container {
  padding-top: 50px;
}
.footer__items {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  &::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 2px;
    background-color: $white-o10;
  }
  @media screen and (min-width: 375px) {
    gap: 32px;
    flex-wrap: wrap;
    &::after {
      top: 224px-32px;
    }
  }
  @media screen and (min-width: 768px) {
    &::after {
      top: 130px;
    }
  }
}
.footer__text {
  width: 300px;
  font-size: 28px;
}

.first__letter {
  color: $accent;
}

.contact__dimention {
  display: flex;
  @media screen and (min-width: 375px) {
    gap: 113px;
  }
  @media screen and (min-width: 768px) {
    gap: 63px;
  }
}

.menu {
  color: $white;
  display: flex;
  padding-bottom: 50px;
  @media screen and (min-width: 375px) {
    gap: 18px;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-link {
  text-decoration: none;
  color: $white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.28px;
  &:hover {
    color: $accent;
  }
  &--contact {
    text-align: center;
    font-weight: 400;
    line-height: 1.3px; /* 128.571% */
  }
  &--no-hover {
    margin-bottom: 16px;
    &:hover {
      color: $white;
    }
  }
}
.contact__svg {
  display: flex;
  gap: 18px;
}
