.sellers {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
      gap: 16px;
    }
  }
  &__text {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
  }
  &__actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      margin-top: 16px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 32px;
    }
  }
  &__img {
    @media screen and (min-width: 768px) {
      width: 344px;
    }
    @media screen and (min-width: 1200px) {
      width: 368px;
    }
  }
  &__btn {
    display: flex;
    height: fit-content;
  }
}
.img {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.text1 {
  margin-top: 20px;
  margin-bottom: 32px;
  width: 306px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.text2 {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 306px;
  }
  @media screen and (min-width: 1200px) {
    width: 407px;
  }
}
