.hero__background {
  background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
    url(../images/subscribe.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
      url(../images/subscribe@2.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
      url(../images/subscribe@3.jpg);
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  gap: 24px;
  padding: 60px 20px;
}
.text__dimention {
  width: 326px;
  @media screen and (min-width: 768px) {
    width: 467px;
  }
}
