<div class="container">
  <ul class="">
    <li class="footer__text">
      <p class="chocolate__phrase">
        <span class="first__letter">Chocolate</span> a delicious cure for a bad
        day
      </p>
    </li>
    <ul class="contact__dimention">
      <li class="contact__space">
        <p>
          Contact us
          <li class="contact__svg">
            <svg class="svg__instagram" width="24" height="24">
              <use href="images/symbol-defs.svg#icon-instagram2" />
            </svg>
            <svg class="svg__twitter" width="24" height="24">
              <use href="images/symbol-defs.svg#icon-Vector" />
            </svg>
          </li>
        </p>
      </li>
      <li class="link__block">
        <a class="link__first" href="tel:+380684439426">+38 (06) 84439426</a>
      </li>
      <li class="link__block">
        <a class="link__second" href="mailto:simplychoc@gmail.com"
          >simplychoc@gmail.com</a
        >
      </li>
    </ul>
  </ul>
  <ul class="menu">
    <a class="menu__link" href="#">Home</a>
    <a class="menu__link" href="#">How it's made</a>
    <a class="menu__link" href="#">Our product</a>
    <a class="menu__link" href="#">Top Sellers</a>
    <a class="menu__link" href="#">Chocolate is loved</a>
  </ul>
</div>
