<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <div class="hero__btns">
      <ul class="btns__list list">
        <li>
          <button type="button" class="btn" data-modal-buy-open>Buy now</button>
        </li>
        <li>
          <button type="button" class="btn btn--transparent">
            How it's made
          </button>
        </li>
      </ul>
      <button type="button" class="scroll-btn">
        scroll down
        <span class="scroll-icon">
          <svg class="scroll-svg">
            <use href="images/symbol-defs.svg#icon-angle"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
