<div class="location-modal backdrop is-hidden" data-modal-subscribe>
  <div class="modal">
    <div class="modal__header header--subscribe">
      <img class="header__image" src="images/newchocolate.jpg" alt="" />
      <button
        class="modal__btn modal__btn--subs-modal-close"
        data-modal-subs-close
      >
        <svg class="svg-close-modal svg-close-modal--white">
          <use href="./images/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal__main--subs">
      <h3 class="modal__title modal__title--subs">
        EXPLORE OUR<br /><span class="main__title">NEW CHOCOLATE</span> FIRST!
      </h3>
      <form name="subscribe-form">
        <fieldset class="subscribe">
          <input
            class="review-form__input subscribe__email"
            type="email"
            name="email-modal"
            id="email-modal"
            placeholder="Email"
          />
          <button type="submit" class="btn modal__btn--subs-modal">
            Submit
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
