<div class="location-modal backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__header">
      <button
        class="modal__btn modal__btn--close-modal-review"
        data-modal-close
      >
        <svg class="svg-close-modal">
          <use href="./images/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal__main">
      <h3 class="modal__title modal__title--review">
        LEAVE A REVIEW ABOUT <span class="main__title">OUR CHOCOLATE</span>
      </h3>
      <form name="review-form" class="review-form">
        <fieldset class="review">
          <input
            class="review-form__input"
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            autocomplete="off"
          />
          <input
            class="review-form__input"
            type="email"
            name="email-modal"
            id="email-modal"
            placeholder="Email"
          />
          <label for="phone" class="review__label-phone">
            <div class="phone__svg-id">
              <svg class="review-form__svg">
                <use href="images/symbol-defs.svg#icon-flag"></use>
              </svg>
              +380
            </div>
            <input
              class="review-form__input input--phone"
              type="tel"
              name="phone"
              id="phone"
              placeholder="Phone Number"
              autocomplete="off"
            />
          </label>
          <textarea
            class="review-form__input input--textarea"
            rows="5"
            type="text"
            name="comment"
            id="comment"
            placeholder="Enter text"
          ></textarea>
          <button type="submit" class="btn btn--modal-form">Send</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
