<div class="location-modal backdrop is-hidden" data-modal-buy>
  <div class="modal buy-modal">
    <div class="modal__header">
      <button class="modal__btn modal__btn--close-modal" data-modal-buy-close>
        <svg class="svg-close-modal">
          <use href="./images/symbol-defs.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal__main">
      <h3 class="modal__title modal__title--buy">
        <span class="main__title">BUY </span>NOW
      </h3>
      <ul class="list-products">
        <li class="product-card">
          <img
            class="product-card__image"
            width="84"
            src="./images/kinder-bar.jpg"
            alt="kinderbar"
          />
          <p class="product-card__qty">100 g</p>
        </li>
        <li class="product-card">
          <img
            class="product-card__image"
            src="./images/chocolate-krispy.jpg"
            width="84"
            alt="krispy chocolate"
          />
          <p class="product-card__qty">200 g</p>
        </li>
        <li class="product-card">
          <img
            class="product-card__image"
            src="./images/choc-bar-dark.jpg"
            width="84"
            alt="chocolate dark bar"
          />
          <p class="product-card__qty">300 g</p>
        </li>
      </ul>
      <form name="buy-form" class="buy-form">
        <fieldset class="review">
          <label for="name">
            <p class="buy-form__label">Personal Information</p>
          </label>
          <div class="personal-info">
            <input
              class="review-form__input input-name"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              autocomplete="off"
            />
            <input
              class="review-form__input input-surname"
              type="text"
              name="surname"
              id="surname"
              placeholder="Surname"
              autocomplete="off"
            />
          </div>
          <label for="email-modal">
            <p class="buy-form__label">Email</p>
          </label>
          <input
            class="review-form__input review-form__input-buy"
            type="email"
            name="email-modal"
            id="email-modal"
            placeholder="Email"
          />
          <label for="phone" class="review__label-phone">
            <p class="buy-form__label">Phone Number</p>
            <div class="phone__svg-id svg--buy">
              <svg class="review-form__svg">
                <use href="images/symbol-defs.svg#icon-flag"></use>
              </svg>
              +380
            </div>
          </label>
          <input
            class="review-form__input input--phone input--phone-buy"
            type="tel"
            name="phone"
            id="phone"
            placeholder="Phone Number"
            autocomplete="off"
          />
          <label for="card" class="review__label-phone">
            <p class="buy-form__label">Card Number</p>
            <div class="svg--buy card-logo">
              <svg class="review-form__svg">
                <use href="images/symbol-defs.svg#icon-Mastercard"></use>
              </svg>
            </div>
          </label>
          <input
            class="review-form__input review-form__input-buy"
            type="text"
            inputmode="numeric"
            name="card"
            id="card"
            placeholder="Enter Card"
          />
          <label for="comment">
            <p class="buy-form__label">Comment</p>
          </label>
          <textarea
            class="review-form__input input--textarea review-form__input-buy"
            rows="5"
            type="text"
            name="comment"
            id="comment"
            placeholder="Enter text"
          ></textarea>
          <button type="submit" class="btn btn--modal-form">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
