<section class="products">
  <div class="container">
    <h3 class="sellers__title title--margin">
      <span class="sellers__title--black">OUR </span>PRODUCTS
    </h3>
    <ul class="products-list list">
      <li class="products__item item">
        <img src="./images/orange.jpg" width="230" height="201" alt="orange" />
        <h3 class="item__name">ORANGE</h3>
        <p class="item__type">Dark chocolate</p>
        <p class="item__price">45 UAH</p>
      </li>
      <li class="products__item">
        <img
          src="./images/appleandcranberry.jpg"
          width="230"
          height="201"
          alt="apple-cranberry"
        />
        <h3 class="item__name">APPLE&CRANBERRY</h3>
        <p class="item__type">Milk chocolate</p>
        <p class="item__price">50 UAH</p>
      </li>
      <li class="products__item">
        <img
          src="./images/limeseasalt.jpg"
          width="230"
          height="201"
          alt="limesea-salt"
        />
        <h3 class="item__name">lIME&SEA SALT</h3>
        <p class="item__type">Dark chocolate</p>
        <p class="item__price">54 UAH</p>
      </li>
      <li class="products__item">
        <img
          src="./images/pineapple.jpg"
          width="230"
          height="201"
          alt="pineapple"
        />
        <h3 class="item__name">PINEAPPLE</h3>
        <p class="item__type">Dark chocolate</p>
        <p class="item__price">54 UAH</p>
      </li>
      <li class="products__item">
        <img
          src="./images/classic.jpg"
          width="230"
          height="201"
          alt="classic"
        />
        <h3 class="item__name">CLASSIC</h3>
        <p class="item__type">Milk chocolate</p>
        <p class="item__price">45 UAH</p>
      </li>
      <li class="products__item">
        <img src="./images/honey.jpg" width="230" height="201" alt="Honey" />
        <h3 class="item__name">HONEY</h3>
        <p class="item__type">Milk chocolate</p>
        <p class="item__price">50 UAH</p>
      </li>
      <li class="products__item">
        <img
          src="./images/Roastedfruits.jpg"
          width="230"
          height="201"
          alt="roasted-fruits"
        />
        <h3 class="item__name">ROASTED FRUITS</h3>
        <p class="item__type">Dark chocolate</p>
        <p class="item__price">66 UAH</p>
      </li>
      <li class="products__item">
        <img
          src="./images/classicwhite.jpg"
          width="230"
          height="201"
          alt="white-chocolate"
        />
        <h3 class="item__name">CLASSIC</h3>
        <p class="item__type">White chocolate</p>
        <p class="item__price">54 UAH</p>
      </li>
    </ul>
    <ul class="slide__list list">
      <li class="slide__bubble slide__bubble--active"></li>
      <li class="slide__bubble"></li>
      <li class="slide__bubble"></li>
      <li class="slide__bubble"></li>
      <li class="slide__bubble"></li>
      <li class="slide__bubble"></li>
      <li class="slide__bubble"></li>
      <li class="slide__bubble"></li>
    </ul>
  </div>
</section>
