<section class="sellers">
  <div class="sellers__div1">
    <h3 class="sellers__title">
      TOP <span class="sellers__title--black">SELLERS</span>
    </h3>
    <ul class="list sellers__list">
      <li class="sellers__item">
        <img
          src="./images/sellers1.jpg"
          width="335"
          height="464"
          alt="tarjeta sellers 1"
          class="sellers__img"
        />
        <p class="sellers__text text1">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers__item">
        <img
          src="./images/sellers2.jpg"
          width="335"
          height="464"
          alt="tarjeta sellers 3"
          class="sellers__img"
        />
      </li>
      <li class="sellers__item">
        <img
          src="./images/sellers3.jpg"
          width="335"
          height="464"
          alt="tarjeta sellers 3"
          class="sellers__img img"
        />
      </li>
    </ul>
  </div>

  <div class="sellers__div2">
    <p class="sellers__text text2">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <div class="sellers__div-btn">
      <button type="button" class="btn" data-modal-buy-open2>Buy now</button>
    </div>
  </div>
</section>
