<section id="sellers" class="sellers section">
  <div class="container">
    <h3 class="section__title sellers__title">
      <span class="section__title--accent">TOP </span>SELLERS
    </h3>
    <ul class="sellers__list list">
      <li class="sellers__item">
        <img
          class="sellers__img"
          src="./images/sellers1.jpg"
          width="335"
          height="464"
          alt="card sellers 1"
        />
        <p class="sellers__text text1">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers__item">
        <img
          class="sellers__img"
          src="./images/sellers2.jpg"
          width="335"
          height="464"
          alt="card sellers 2"
        />
      </li>
      <li class="sellers__item">
        <img
          class="sellers__img img"
          src="./images/sellers3.jpg"
          width="335"
          height="464"
          alt="card sellers 3"
        />
      </li>
    </ul>
    <div class="sellers__actions">
      <p class="sellers__text text2">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="btn sellers__btn" data-modal-buy-open2>
        Buy now
      </button>
    </div>
  </div>
</section>
