<section id="sensation" class="container sensation">
  <h3 class="sensation__title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="taste">TASTE</span> SENSATION
  </h3>
  <p class="sensation__text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="card">
    <li class="card__list">
      <img
        src="./images/milkchocolate.png"
        width="206"
        height="160"
        alt="milkchocolate"
      />
      <p class="card__text">MILK CHOCOLATE</p>
    </li>
    <li class="card__list card__list--color">
      <img src="./images/milk.jpg" width="206" height="160" alt="milk" />
      <p class="card__text">MILK</p>
    </li>
    <li class="card__list card__list--colors">
      <img src="./images/nuts.png" width="206" height="160" alt="nuts" />
      <p class="card__text">NUTS</p>
    </li>
    <li class="card__list card__list--color">
      <img
        src="./images/sweetchocolate.jpg"
        width="206"
        height="160"
        alt="sweetchocolate"
      />
      <p class="card__text">SEMI - SWEET CHOCOLATE</p>
    </li>
  </ul>
</section>
