<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle-x" width="28" height="28">
      <use href="./images/symbol-defs.svg#icon-x-close"></use>
    </svg>
  </button>
  <ul class="mobile-menu">
    <li class="mobile-menu__item"><a href="" class="link">Home</a></li>
    <li class="mobile-menu__item">
      <a href="" class="link">How it's made?</a>
    </li>
    <li class="mobile-menu__item"><a href="" class="link">Our products</a></li>
    <li class="mobile-menu__item"><a href="" class="link">Top sellers</a></li>
    <li class="mobile-menu__item">
      <a href="" class="link">Chocolate is loved</a>
    </li>
  </ul>
  <ul class="mobile-networks__list">
    <li class="mobile-networks__item">
      <a
        href="#"
        class="mobile-networks__links"
        rel="noopener noreffer"
        target="_blank"
      >
        <svg class="network__logo" width="22" height="22">
          <use href="./images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-networks__item">
      <a
        href="#"
        class="mobile-networks__links"
        rel="noopener noreffer"
        target="_blank"
      >
        <svg class="network__logo" width="22" height="22">
          <use href="./images/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
